.example-link
  color: #70a5eb
  cursor: pointer

  &:hover
    color: #3168af

.example-container
  display: flex
  flex-direction: column

  .example-description
    font-size: 10pt
    color: #999
    margin-bottom: 20px 

  .example

    &:not(.section)
      margin-bottom: 40px

    .short
      width: 20%

    .row
      display: flex
      gap: 10px
      align-items: center

    .column
      display: flex
      flex-direction: column
      gap: 10px

    .example-value
      margin: 35px 0 15px 15px
      color: #8596ac
      font-size: 11pt
      width: fit-content
      list-style-type: circle
      display: list-item
      list-style-type: disc

    .example-info
      margin: 20px 0
      padding-bottom: 15px
      border-bottom: 1px solid rgba(#999, .4)
      width: 75%

      .example-title
        margin: 0
        color: #70a5eb
      
      .example-text
        margin: 0
        padding-top: 5px
        padding-left: 10px
        font-weight: 300
        font-style: italic
        font-size: 10pt
        color: #888

      .example-note
        @extend .example-text
        padding-left: 20px
        
      .example-prop
        @extend .example-text

      .required
        @extend .example-text
        padding: 0
        color: #f58787
        font-weight: bold

  .try-yourself
    width: 100%

    .try-title
      color: #70a5eb
      width: 75%
      border-bottom: 1px solid rgba(#999, .4)
      margin: 0
      margin-bottom: 30px
      padding-bottom: 20px
      
    .row
      display: flex
      gap: 25px

    .column
      width: 50%
      display: flex
      flex-direction: column
      gap: 25px

      &--center
        @extend .column
        align-self: center
        align-items: center