@import '../../../styles/variables'

$border-thickness: 2px
$colors: ("primary": $button-primary, "secondary": $button-secondary, "success": $button-success, "warning": $button-warning, "cancel": $button-cancel, "white": white)
      
@keyframes background-smooth
  0%
    background-color: #ffffff00
  
  100% 
    background-color: #ffffff30

@keyframes background-hard
  0%
    background-color: #ffffff30
  
  100% 
    background-color: #ffffff60

@mixin animate($animation,$duration,$method,$times)
    animation: $animation $duration $method $times

@mixin setBgColorAndHover($baseColor)
  border: $border-thickness solid $baseColor
  background-color: $baseColor
  color: $baseColor

  @if $baseColor == white
    color: $text-color
    background-color: transparent
    border: none
  
  &:hover
    $darker-color: darken($baseColor, 30%)  

    @if $baseColor == white
      $darker-color: #ffffff30
    
    &.filled
      @if $baseColor == white
        @include animate(background-smooth, .3s, forwards, 1)
      @else
        background-color: $darker-color
      
    &.border,&.empty
      border-color: $darker-color
      color: $darker-color

  &:active
    $lighten-color: lighten($baseColor, 20%)
    
    @if $baseColor == white
      $lighten-color: #ffffff60
    
    &.filled
      @if $baseColor == white
        @include animate(background-hard, .3s, forwards, 1)
      @else
        background-color: $lighten-color

    &.border,&.empty
      border-color: $lighten-color
      color: $lighten-color

.container
  padding: 10px 25px
  border-radius: 7.5px
  border: none
  cursor: pointer
  user-select: none
  font-weight: 700

  @each $name, $color in $colors
    &.#{$name}
      +setBgColorAndHover($color)

  &.border
    background-color: transparent
  
  &.filled
    border: none
    color: white

  &.empty
    border: none
    background-color: transparent
