@import '../../../styles/variables'

.container
  display: flex
  border-radius: 10px
  width: fit-content
  border: 2px solid rgb(219, 223, 226)

  &.invalid
    border: 1px solid red

  .date-input
    text-align: center
    color: $text-color
    border: none
    background-color: transparent
    padding: 0 10px
    font-size: 14px

    &:focus-visible
      outline: none
  
  .date-range-picker
    letter-spacing: normal
    word-spacing: 0
    font-size: 14px
    user-select: none
    cursor: pointer
    width: 169px
    display: inline-flex
    align-items: center
    justify-content: center
    color: $text-color
    border: none
    background-color: transparent
    padding: 0 10px


  .container-img
    cursor: pointer
    padding: 7.5px 15px
    background-color: rgb(219, 223, 226)
    border-radius: 10px 0 0 10px
  
.date-picker-container
  margin: 0
  display: flex
  flex-direction: row
  
  p
    margin: 0

  .date-picker
    display: flex
    flex-direction: column
  
    .date-picker-calendar
      padding: 20px
      display: flex
      justify-content: center