@import '../../../../styles/variables'
// @import '../../../../styles/keyframes'
// @import '../../../../styles/mixins'

// @each $name, $color in $input-colors
//   @include switch-animation-to(to-#{$name}, $color)
//   @include switch-animation-from(from-#{$name}, $color)

  
// @include switch-animation-to('to-white', #fff)
// @include switch-animation-from('from-white', $disabled-color)

.container 
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-content: center
  width: fit-content

  @each $name, $color in $common-colors
    .#{$name}[type="checkbox"] 
      -webkit-appearance: none
      appearance: none
      box-sizing: content-box
      width: 32px
      height: 16px
      border-radius: 20px
      border: 1px solid darken($color, 20%) 
      outline: none
      cursor: pointer
      position: relative
      transition: all .5s

      &::before
        content: "\2B24"
        font-size: 12px
        position: absolute
        bottom: 1px
        transition: all .5s

      + label
        font-size: 16px
        display: flex
        align-self: center
        padding-left: 0.5rem
        transition: color .5s

        &.colored
          color: darken($color, 20%)
          font-weight: bold

      &:not(:disabled)
        &:hover
          background-color: rgb($color, .2)
          box-shadow: 0 0 4px 1px $color

        &:checked
          background-color: darken($color, 20%)

          &::before
            color: white
            left: 18px

        &:not(checked)::before
          color: darken($color, 20%)
          left: 3px

      &:disabled
        border-color: $disabled-color
        
        &:checked
          background-color: $disabled-color
          
          &::before
            color: white
            left: 18px
        
        &:not(checked)::before
          color: $disabled-color
          left: 3px
          
        + label
          color: $disabled-color