//global colors
$primary-color: #4c74d9
$secondary-color: #5ac6ed
$success-color: #74ea6e
$warning-color: #fabb3c
$highlight-color: #ffeba7
$error-color: #fc5252
$main-background-color: #f2f9fa
$text-color: #1a1a1a
$disabled-color: #c0c0c0

//buttons
$button-primary: #4984f1
$button-secondary: #5ac6ed
$button-success: #47df3f
$button-warning: #eea840
$button-cancel: #fa6363
$button-colors: ("primary": $button-primary, "secondary": $button-secondary, "success": $button-success, "warning": $button-warning, "cancel": $button-cancel, "white": white)

$button-border-thickness: 2px
$button-animation-duration: .5s

//breadcrumb
$breadcrumb-root-item-color: $secondary-color
$breadcrumb-item-color: $secondary-color

//modal
$modal-header-info-color: $secondary-color
$modal-header-default-color: darken($main-background-color, 50%)
$modal-header-alert-color: $warning-color
$modal-header-error-color: $error-color
$modal-header-success-color: $success-color
$modal-header-text-color: $main-background-color

//input
$input-border-color: rgba(42, 186, 196, 0.156)
$input-text-color: rgb(19, 72, 81)
$input-error-color: $button-cancel
$input-error-border-color: rgb(255, 84, 84, 0.156)
$input-colors: ("green": #27C86A, "error": #FE5945, "warning": #FEA50A, "default": #25B8A6, "purple": #9B58B7)

// tooltip
$tooltip-text-color: white
$tooltip-background-color: rgba(0,0,0,.8)

// drag and drop
$drag-cell-hover-color: rgba(230, 230, 230, 0.589)

// scroll bar 
$scroll-thumb-color: rgb(50, 101, 168)
$scroll-thumb-background: rgba(231, 231, 231, 0.671)
