$main-background-color: #f2f9fa
$text-color: #555
$disabled-color: #c0c0c0

$gray-color: #9aa4ad
$success-color: #A5F0CF
$danger-color: #F4C6C6
$warning-color: #FDE686
$info-color: #C7E7FE

$gray-dark-color: darken($gray-color, 20%)
$success-dark-color: darken($success-color, 20%)
$danger-dark-color: darken($danger-color, 20%)
$warning-dark-color: darken($warning-color, 20%)
$info-dark-color: darken($info-color, 20%)


$common-colors: ("gray": $gray-color, "success": $success-color, "danger": $danger-color, "warning": $warning-color, "info": $info-color)
$darken-colors: ("gray": $gray-dark-color, "success": $success-dark-color, "danger": $danger-dark-color, "warning": $warning-dark-color, "info": $info-dark-color)
$button-colors: map-merge($common-colors, ("white": #ffffff))

// buttons
$button-border-thickness: 2px
$button-animation-duration: .5s

//breadcrumb
$breadcrumb-root-item-color: $info-dark-color
$breadcrumb-item-color: $info-dark-color

//modal
$modal-header-info-color: $info-color
$modal-header-default-color: darken($main-background-color, 50%)
$modal-header-alert-color: $warning-color
$modal-header-error-color: $danger-color
$modal-header-success-color: $success-color
$modal-header-text-color: $main-background-color

//input
$input-border-color: rgba(42, 186, 196, 0.156)
$input-text-color: rgb(19, 72, 81)
$input-error-border-color: rgb(255, 84, 84, 0.156)
$input-colors: ("green": #27C86A, "error": #FE5945, "warning": #FEA50A, "default": #25B8A6, "purple": #9B58B7)

// tooltip
$tooltip-text-color: white
$tooltip-background-color: rgba(0,0,0,.8)

// drag and drop
$drag-cell-hover-color: rgba(230, 230, 230, 0.589)