@import '../../../../styles/variables'
@import '../../../../styles/keyframes'
@import '../../../../styles/mixins'

@mixin setBgColorAndHover($name, $baseColor)
  border: $button-border-thickness solid $baseColor
  background-color: $baseColor
  color: $baseColor
  
  &:hover    
    &.filled
      @include animate(background-smooth-#{$name}, $button-animation-duration)
      
    &.border,&.empty
      @include animate(border-smooth-#{$name}, $button-animation-duration)

  &:active   
    &.filled
      @include animate(background-hard-#{$name}, $button-animation-duration)

    &.border,&.empty
      @include animate(border-hard-#{$name}, $button-animation-duration)

.container
  box-sizing: content-box
  padding: 10px 25px
  border-radius: 7.5px
  border: none
  cursor: pointer
  height: 20px
  user-select: none
  font-size: 14px
  font-weight: bold

  @each $name, $color in $button-colors
    @if $color == white
      @include background-opacity-color($name: border-smooth-#{$name}, $color: #ffffff, $min-opacity: 0, $max-opacity: .3)
      @include background-opacity-color($name: border-hard-#{$name}, $color: #ffffff, $min-opacity: .3, $max-opacity: .6)
    @else
      $lighten-color: lighten($color, 20%)
      $darker-color: darken($color, 20%) 
      @include background-from-color-to-color($name: background-smooth-#{$name}, $from-color: $color, $to-color: $lighten-color)
      @include background-from-color-to-color($name: background-hard-#{$name}, $from-color: $lighten-color, $to-color: $darker-color)
      @include border-from-color-to-color($name: border-smooth-#{$name}, $from-color: $color, $to-color: $lighten-color)
      @include border-from-color-to-color($name: border-hard-#{$name}, $from-color: $lighten-color, $to-color: $darker-color)
      
    &.#{$name}
      +setBgColorAndHover($name, $color)

  &.border
    background-color: transparent
  
  &.filled
    border: none
    color: white

  &.empty
    border: none
    background-color: transparent
